:root {
  --gutter: clamp(1rem, 0.0717rem + 4.6709vw, 3.75rem);
}

body {
  background: #fafafa;
  color: #333;
}

h1 {
  font-size: var(--font-size-xl);
}

h2 {
  font-size: var(--font-size-l);
  padding-block-end: var(--space-xs);
  margin-block-end: var(--space-s);
  border-bottom: 1px solid #ccc;
}

h3 {
  font-size: var(--font-size-m);
}

.container {
  max-width: 78.75rem;
  margin-block: var(--space-l);
  padding-inline: var(--gutter);
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--gutter);
  row-gap: var(--space-l);
  font-size: var(--font-size-s);
  align-items: baseline;
}

.header,
.primary {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
}

.nav,
.secondary {
  flex-basis: 24rem;
  flex-grow: 1;
}

.nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  column-gap: var(--space-xs);
}

.nav li {
  padding: 0;
  margin: 0;
}

.entry-heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-block-end: var(--space-s);
  flex-wrap: wrap;
  column-gap: var(--space-s);
}

.entry-heading em {
  font-weight: normal;
  white-space: nowrap;
}

.entry-content {
  margin-bottom: var(--space-l);
}

@media print {
  html {
    font-size: 10px;
  }

  body {
    background: none;
    color: #000;
  }

  .container {
    margin: 0;
    padding: 0;
  }
}
