body {
  color: #aaa;
  background: #333 url(/img/dark_bg.png);
}

h1 {
  font-size: var(--font-size-m);
  color: #222;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}

.container {
  max-width: 60rem;
  margin: 0 auto;
  font-size: var(--font-size-s);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  column-gap: var(--space-m);
  row-gap: var(--space-xs);
  margin: var(--space-l);
  text-shadow: 0 -1px #000;
}

.header h1 a {
  color: #fff;
  border-color: #007bff;
  text-shadow: 0 1px 0 #000;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: var(--space-m);
}

.header li {
  padding: 0;
  margin: 0;
}

.header li a {
  border-color: #666;
  color: #eee;
}

.content {
  padding: var(--space-l);
  background: #fafafa url(/img/light_bg.png);
  color: #333;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
}

.content>*+* {
  margin-block-start: var(--space-s);
}

.footer {
  margin: var(--space-l);
}
