---
layout: base
title: Blog
---
{% for post in site.posts limit:1 %}
{% if post.img %}
<a href="{{ post.url }}" class="img">
  <img src="{{ post.img }}" alt="{{ post.title }}">
</a>
{% endif %}
{% if post.video %}
<div id="video">
	{{ video }}
</div>
{% endif %}
{% endfor %}
{% for post in site.posts %}
<article>
  <header>
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <h3>Posted on {{ post.date | date_to_long_string }}</h3>
  </header>
  {{ post.content }}
  <footer>
    {% if post.category %}<span class="post-category">Filed Under <a href="/blog/{{ post.category }}/">{{ post.category }}</a></span>{% endif %}
    {% if post.comments %}<span class="post-comments"><a href="{{ post.url }}{% if post.comments %}#disqus_thread" data-disqus-identifier="{{ post.id }}{% endif %}">Comments</a></span>{% endif %}
  </footer>
</article>
{% endfor %}