<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />

  <title>Tom Brunoli</title>
  <meta name="author" content="Thomas Brunoli">
  <meta name="keywords" content="Website, Webpage, Web, Development, Design, Web Design, Web Development, HTML, CSS, Javascript, Ruby, React.js, Thomas Brunoli">

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <script type="text/javascript" src="//use.typekit.com/nze2wiy.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>

<body class="dark">
  <header id="header">
    <h1><a href="/">Tom Brunoli</a></h1>
    <nav>
      <ul>
        <li><a href="https://github.com/tominated/" target="_blank">Github</a></li>
        <li><a href="https://linkedin.com/tominated/" target="_blank">LinkedIn</a></li>
      </ul>
    </nav>
  </header>
  <div id="content">
    {{ content }}
  </div>
  <footer>
    <p>
      &copy; 2022 Thomas Brunoli<br>
    </p>
  </footer>
</body>
</html>
